!!!html
%html
  %head
    %meta(charset="UTF-8")
    %title BinProxy

    %link(rel='stylesheet' type='text/css' media='all' href='/application.css')
    -# humane.js theme
    -#%link(rel='stylesheet' type='text/css' media='all' href='/libnotify.css')

    %link(rel='stylesheet' type='text/css' media='all' href='/ui/fixed-data-table.css')

    %script(type='text/javascript' src='ui/app.js')
  %body
    #UIRoot
